html, body, div.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Georgia", serif;
	background-color: whitesmoke;
}

div.wrapper {
  display: flex;
  gap: 2em;
}

header {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: #e54222;
  box-shadow: 5px 0px 18px 0px #848484;
  padding: 2em;
  overflow: auto;
}

header form {
  display: flex;
}

header ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

header li {
  padding: 0 0 1em;
  cursor: pointer;
}

header li:hover {
  color: white;
}

header li.selected {
  color: #9bccea;
  font-weight: bolder;
}

main {
  flex: 3;
  overflow-y: auto;
  padding: 2em;
}

main img {
  
  min-width: 15em;
  min-height: 15em;
  max-width: 300%;
  max-height: 100%;
  margin: 2em 0;
}

main div.artist-info {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.hide {
  display:none;
}

nav {
  display:flex;
}

button {
  flex:1;
}